.video-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-width: 100vw;
}

.banner-foreground {
    position: absolute;
    width: 100%;
    height: 100vh;
    padding-top: 188px;
    z-index: 1;
}

.banner-call {
    width: 100%;
}

.play-badge {
    width: 100%;
    max-width: 256px;
}

.video-bg {
    overflow: hidden;
    min-width: 100vw;
    height: 100%;
    background-color: darkred;
}

.video-bg video {
    display: block;
    position: relative;
    transform: translate(-50%, 0%);
    left: 50%;
    margin: 0 auto;
    min-width: 100%;
    min-height: 100%;
}